// Variables
$light: #FFFFFF;
$soft-blue: #DFF9FB;
$dark: #1E2A44;
$darker-one: #1D1933;
$darker-two: #0C0822;
$cream: #E0D5BB;
$dracula: #2D3436;
$pinky: #BE2EDD;
$sweet: rgb(255, 159, 243);
$popup-unactive: rgba(256, 256, 256, 0.5)